<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="sqlQueries" type="DatabasesApp.Application.Config.Sections.SqlQueriesSection, DatabasesApp" />
	</configSections>

	<connectionStrings>
		<add name="MySQL"
		providerName="MySqlConnector"
		connectionString="Server=127.0.0.1;Port=3306;Uid=root;Database=lab"
		/>
	</connectionStrings>
	
	<sqlQueries>
		<tables>
			<table name="cashregister">
				<queries>
					<query method="GetAll" text="SELECT * FROM view_cashregister"/>
					<query method="GetById" text="SELECT * FROM view_cashregister WHERE cashregister_id = @id"/>
				</queries>
			</table>
			
			<table name="product">
				<queries>
					<query method="GetAll" text="SELECT * FROM view_product"/>
					<query method="GetById" text="SELECT * FROM view_product WHERE product_id = @id"/>
				</queries>
			</table>
			
			<table name="product_type">
				<queries>
					<query method="GetAll" text="SELECT * FROM view_product_type"/>
					<query method="GetById" text="SELECT * FROM view_product_type WHERE product_type_id = @id"/>
				</queries>
			</table>
			
			<table name="product_unit">
				<queries>
					<query method="GetAll" text="SELECT * FROM view_product_unit"/>
					<query method="GetById" text="SELECT * FROM view_product_unit WHERE product_unit_id = @id"/>
				</queries>
			</table>
			
			<table name="receipt">
				<queries>
					<query method="GetAll" text="SELECT * FROM view_receipt"/>
					<query method="GetById" text="SELECT * FROM view_receipt WHERE receipt_id = @id"/>
				</queries>
			</table>
			
			<table name="user_right">
				<queries>
					<query method="GetAll" text="SELECT * FROM view_user_right"/>
					<query method="GetById" text="SELECT * FROM view_user_right WHERE user_right_id = @id"/>
				</queries>
			</table>
			
			<table name="worker">
				<queries>
					<query method="GetAll" text="SELECT * FROM view_worker"/>
					<query method="GetById" text="SELECT * FROM view_worker WHERE worker_id = @id"/>
				</queries>
			</table>
			
			<table name="worker_position">
				<queries>
					<query method="GetAll" text="SELECT * FROM view_worker_position"/>
					<query method="GetById" text="SELECT * FROM view_worker_position WHERE worker_position_id = @id"/>
				</queries>
			</table>
		</tables>
	</sqlQueries>
	
</configuration>